extends ../layouts/base
block content
  main
    section
      .container
        h1.mt-5.mb-5 New Web App

        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet deleniti dicta error fugit itaque laborum natus quibusdam quod reprehenderit. Aut autem in ipsa libero magnam nostrum obcaecati, repellendus sapiente.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet deleniti dicta error fugit itaque laborum natus quibusdam quod reprehenderit. Aut autem in ipsa libero magnam nostrum obcaecati, repellendus sapiente.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet deleniti dicta error fugit itaque laborum natus quibusdam quod reprehenderit. Aut autem in ipsa libero magnam nostrum obcaecati, repellendus sapiente.


