head
  meta(charset='utf-8')
  title= 'App name'
  meta(   name="viewport"
  content="width=device-width,initial-scale=1")
  meta(   http-equiv="X-UA-Compatible"
  content="ie=edge")
  link(rel='stylesheet' href='./css/main.css?rev=@@hash')
