head
  meta(charset='utf-8')
  title= 'App name'
  meta(   name="viewport"
  content="width=device-width,initial-scale=1")
  meta(   http-equiv="X-UA-Compatible"
  content="ie=edge")
  link(rel='stylesheet' href='https://cdn.action-mcfr.ru/widgets/prod/auth-button-external/1_0_0/main.019a3e77a2706a40785a.css')
  //- link(rel='stylesheet' href='https://service.mcfr.ua/css/hr.css?1618573668')
  link(rel='stylesheet' href='./css/main.css?rev=@@hash')
