footer.footer
  .container 
    .text-center
      p © Цифрове видавництво MCFR, 2001-2021. Усі права захищено
.main-loader.d-none
  .spinner-border.text-primary(role='status' style="width: 4rem; height: 4rem;")
    span.visually-hidden Loading...
