header.second-header
  .container-fluid.first-wrapper
    .general
      .general__out
        .general__in
          ul.list.list_type_menu
            li#login.list__item(data-text-login-or-register='Вхід і реєстрація')
              style.
                #login:nth-child(n) {
                fill: none;
                stroke: #ccc;
                }
              //
                <a class="btn btn_type_id2 btn_type_plane" href="https://#/customer/auth/" title="">
                <svg class="ico ico_content_action">
                <use xmlns:xlink="https://www.w3.org/1999/xlink" xlink:href="#ico-action"></use>
                </svg>
                <u>Вхід і реєстрація</u>
                </a>
              #authButtonExternal
                .authButtonStyles__login--1uRBm.authButtonStyles__native--31aNa
                  a.authButtonStyles__icon--1xFBo(href='https://id.mcfr.ua/Feedback' target='_blank' rel='noopener' title='Служба підтримки' style='color: rgb(204, 204, 204);')
                    svg(xmlns='http://www.w3.org/2000/svg' width='27' height='27' viewBox='0 0 27 27')
                      g(fill='none' fill-rule='evenodd' stroke='#ccc')
                        path(d='M13.5 26.5c7.18 0 13-5.82 13-13s-5.82-13-13-13-13 5.82-13 13 5.82 13 13 13z')
                        circle(cx='13.5' cy='13.5' r='7.5')
                        path(stroke-linecap='round' stroke-linejoin='round' d='M15.866.715L14.34 5.948M18.955 1.83l-1.608 5.148M20.997 14.216l5.16 1.801M20.384 17.15l4.788 2.012M.88 10.549l5.055 2.044M2.137 7.645l4.81 2.172M12.56 21.026L11.037 26.3M10.002 20.136l-1.915 5.015')
                  button.authButtonStyles__button--1dkY7(type='button' dataqa='SSOAuthButton')
                    .authButtonStyles__buttonIcon--1NpQw
                      svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26')
                        g(fill='none' fill-rule='evenodd')
                          g.authButtonStyles__actionLogoSvg--2LXB5
                            path(d='M15.042 16.943c-.56 0-1.117-.03-1.656-.194-.584-.178-1.066-.483-1.247-1.082-.27-.899 0-2.194 1.313-2.684a8.2 8.2 0 0 1 1.608-.383c.524-.081 1.05-.151 1.576-.23a.127.127 0 0 0 .092-.063c.02-.144.025-.29.015-.435a.604.604 0 0 0-.456-.51c-.325-.11-.667-.09-1.002-.06-.602.062-1.197.176-1.777.341-.147.04-.158.03-.18-.119-.043-.288-.087-.577-.135-.865a.148.148 0 0 1 .016-.12.158.158 0 0 1 .102-.07 7.483 7.483 0 0 1 1.71-.396c.442-.047.886-.07 1.331-.07a4.52 4.52 0 0 1 1.565.247c.541.2.916.54 1.032 1.11.066.322.014.64-.025.958-.072.584-.147 1.167-.224 1.75-.069.523-.131 1.045-.211 1.568-.051.49-.415.899-.911 1.02-.381.106-.771.18-1.165.223-.453.038-.913.038-1.371.064zm1.523-3.392c-.523.092-1.023.159-1.515.273-.45.104-.758.38-.81.852-.052.473.13.908.7 1.018.427.074.866.054 1.283-.058a.17.17 0 0 0 .09-.124c.063-.445.12-.892.177-1.338.029-.197.05-.39.075-.623zM10.902 10.045h.897a.712.712 0 0 1 .166.043.656.656 0 0 1-.07.139c-.774.922-1.55 1.843-2.327 2.762-.095.113-.187.23-.287.34a.125.125 0 0 0-.013.175c.591 1.002 1.18 2.004 1.765 3.007.134.228.109.268-.165.268H9.412a.455.455 0 0 1-.44-.247 471.952 471.952 0 0 0-1.794-3.078.33.33 0 0 1 .034-.447l2.34-2.767a.55.55 0 0 1 .44-.197l.91.002zM20.179 16.774h-.897a.652.652 0 0 1-.154-.04.567.567 0 0 1 .064-.141 818.03 818.03 0 0 1 2.608-3.09.142.142 0 0 0 .012-.196c-.602-1.02-1.2-2.04-1.798-3.063-.077-.132-.04-.196.118-.197h1.624a.351.351 0 0 1 .325.18l1.848 3.165a.326.326 0 0 1-.044.418c-.793.927-1.583 1.859-2.37 2.794a.516.516 0 0 1-.413.173c-.308 0-.616-.003-.923-.003z')
                    span.authButtonStyles__buttonText--3f3LI Яков Кульгейко
                  .Button__fontPreload--2JEuy(style='position: absolute; z-index: -1; font-size: 0px; color: transparent; visibility: hidden;')
                    p.Button__proximaNova--1WDm-
                      span.Button__fontNormal--OKW0k normal
                      span.Button__fontSemibold--hQty_ semibold
                      span.Button__fontBold--2VUBV bold
            li.list__item
              a.list__item-text.link(href='https://1k.expertus.ua#/customer/activate-code/' title='') Активація передплати
            li.list__item
              a.list__item-text.link(href='https://1k.expertus.ua#/about/') Про систему
  .container-fluid.second-wrapper
    .menu-logo-wrapper
      a(href="/").logo-link
        svg#logo(viewBox='0 0 131.17 47' width='100%' height='100%')
          path(fill='#43525a' d='M74.07,41.59H71l-5-6.75H64.74v6.75H62.28V26.94h2.46v6.38a3.34,3.34,0,0,0,1.64-.4,3,3,0,0,0,1.14-1.5c.1-.22.2-.47.32-.76s.21-.54.28-.76a4.42,4.42,0,0,1,1.6-2.29A4.87,4.87,0,0,1,72.39,27h.67v2.12h-.57a2.43,2.43,0,0,0-1.55.43,3.3,3.3,0,0,0-.87,1.55,5.67,5.67,0,0,1-.87,1.78,3.72,3.72,0,0,1-1.1,1l6,7.78ZM83.84,38V33.91l-2.22.22a11.4,11.4,0,0,0-2.17.39,3.9,3.9,0,0,0-1.63.93,2.28,2.28,0,0,0-.64,1.73,2.48,2.48,0,0,0,.7,1.91,3,3,0,0,0,2.08.64,4.47,4.47,0,0,0,2.11-.5A9.26,9.26,0,0,0,83.84,38Zm0,2c-.2.14-.47.35-.81.62a5.48,5.48,0,0,1-1,.63,7,7,0,0,1-1.27.53,6.36,6.36,0,0,1-1.71.18,4.46,4.46,0,0,1-3.15-1.29,4.62,4.62,0,0,1-.94-1.5,5.27,5.27,0,0,1,.29-4.45,4.36,4.36,0,0,1,2-1.71,10.12,10.12,0,0,1,2.91-.77c1.12-.15,2.32-.26,3.62-.33v-.47a3.15,3.15,0,0,0-.27-1.4,1.88,1.88,0,0,0-.73-.82,3,3,0,0,0-1.15-.4,10.74,10.74,0,0,0-1.4-.09,9.46,9.46,0,0,0-2,.25,13.75,13.75,0,0,0-2.31.74h-.14v-2.5c.45-.13,1.1-.27,2-.43a13.6,13.6,0,0,1,2.52-.24,11.46,11.46,0,0,1,2.54.24,4.9,4.9,0,0,1,1.87.85,3.63,3.63,0,0,1,1.19,1.56,6.22,6.22,0,0,1,.39,2.34v10H83.83V40Zm18.48,5.07H100V41.55H90.37v3.56h-2.3V39.5h1a18.94,18.94,0,0,0,2-5.35,30.75,30.75,0,0,0,.79-7.21h9V39.5h1.45v5.61ZM98.4,39.5V29H94.2a28.91,28.91,0,0,1-.89,6,17,17,0,0,1-1.84,4.5ZM117,33.88a9,9,0,0,1-1.75,5.83,5.44,5.44,0,0,1-4.43,2.17,7,7,0,0,1-1.92-.25,7.18,7.18,0,0,1-1.72-.77V47h-2.47V26.94h2.47v1.54a8.66,8.66,0,0,1,2-1.39,5.4,5.4,0,0,1,2.44-.55,4.54,4.54,0,0,1,3.93,2A9.09,9.09,0,0,1,117,33.88Zm-2.54.28a7.93,7.93,0,0,0-.8-3.9,2.78,2.78,0,0,0-2.6-1.38,4.71,4.71,0,0,0-2,.47,8.6,8.6,0,0,0-1.85,1.2v8.3a8.2,8.2,0,0,0,1.66.64,6.22,6.22,0,0,0,1.58.17,3.53,3.53,0,0,0,3-1.4,6.75,6.75,0,0,0,1.06-4.1Zm16.67,7.43h-2.44V30.67l-6.9,10.92H119.6V26.94H122V37.7l6.82-10.76h2.31V41.59Z')
          path(fill='#43525a' d='M37.42,19.58H32.05l-2.8-4.23-2.89,4.23H21.09l5.42-7.36L21.19,4.86h5.37L29.32,9l2.76-4.15h5.27L32,12.1l5.39,7.48ZM53.55,12a8.62,8.62,0,0,1-1.79,5.69,5.54,5.54,0,0,1-4.41,2.16,6.39,6.39,0,0,1-1.91-.26,8,8,0,0,1-1.73-.77V25H39.13V4.86h4.58V6.4A10.49,10.49,0,0,1,45.77,5a5.23,5.23,0,0,1,2.42-.53,4.51,4.51,0,0,1,4,2A9.53,9.53,0,0,1,53.55,12Zm-4.69.09A5.7,5.7,0,0,0,48.2,9a2.31,2.31,0,0,0-2.06-1,4,4,0,0,0-1.23.2,4.94,4.94,0,0,0-1.2.59v7.4a3.45,3.45,0,0,0,.81.22,7.62,7.62,0,0,0,1,.07,2.91,2.91,0,0,0,2.49-1.1,5.5,5.5,0,0,0,.81-3.29Zm33-2.91h-.38a3,3,0,0,0-.76-.14C80.37,9,80,9,79.59,9a5.9,5.9,0,0,0-1.51.21,15.39,15.39,0,0,0-1.54.5v9.86H72V4.86h4.59V7q.31-.28.87-.72a8,8,0,0,1,1-.71A5.4,5.4,0,0,1,79.59,5a3.83,3.83,0,0,1,1.25-.22l.5,0,.5,0V9.2Zm7.39,10.67a6,6,0,0,1-4.08-1.16,4.83,4.83,0,0,1-1.28-3.77V8.06H82.11V4.86h1.76V.66h4.58v4.2h4.42v3.2H88.45v5.21c0,.52,0,1,0,1.35a2.83,2.83,0,0,0,.21,1,1.46,1.46,0,0,0,.64.73,2.77,2.77,0,0,0,1.36.27,4.28,4.28,0,0,0,1-.16,4.37,4.37,0,0,0,.83-.29h.39v3.24a14,14,0,0,1-1.59.31,16.75,16.75,0,0,1-2,.11Zm19.18-.29h-4.58V18a12.88,12.88,0,0,1-2.19,1.52,5.19,5.19,0,0,1-2.38.52,4.3,4.3,0,0,1-3.41-1.39,6.1,6.1,0,0,1-1.23-4.16V4.86h4.62v7.3c0,.76,0,1.38.05,1.86a3.71,3.71,0,0,0,.29,1.22,1.39,1.39,0,0,0,.64.69,2.63,2.63,0,0,0,1.23.24,3.43,3.43,0,0,0,1.15-.24,4.8,4.8,0,0,0,1.23-.64V4.86h4.58V19.58Zm8,.41a12.6,12.6,0,0,1-3.07-.36,11.5,11.5,0,0,1-2.4-.82V14.93h.39l.74.55a6.72,6.72,0,0,0,1.17.63,9.65,9.65,0,0,0,1.44.52,7,7,0,0,0,1.75.21,4.59,4.59,0,0,0,1.72-.3,1,1,0,0,0,.74-.95.94.94,0,0,0-.34-.78,4,4,0,0,0-1.33-.5c-.35-.08-.79-.18-1.32-.28a10.93,10.93,0,0,1-1.42-.35,5.18,5.18,0,0,1-2.59-1.59A4.22,4.22,0,0,1,111,9.32a3.91,3.91,0,0,1,.46-1.86,4.9,4.9,0,0,1,1.32-1.55A7,7,0,0,1,115,4.85a10.07,10.07,0,0,1,2.92-.39,12,12,0,0,1,2.84.31,10.55,10.55,0,0,1,2.19.74V9.23h-.37a5.92,5.92,0,0,0-.75-.5,8.6,8.6,0,0,0-1-.52,7.22,7.22,0,0,0-1.29-.44,6.48,6.48,0,0,0-1.46-.17,3.7,3.7,0,0,0-1.68.34,1,1,0,0,0-.69.91,1,1,0,0,0,.34.78,3.93,3.93,0,0,0,1.48.57c.39.1.84.19,1.35.28a11.86,11.86,0,0,1,1.48.37,5.08,5.08,0,0,1,2.4,1.5,4,4,0,0,1,.82,2.63,4.25,4.25,0,0,1-.48,2,4.54,4.54,0,0,1-1.38,1.58,7.17,7.17,0,0,1-2.22,1.08,11,11,0,0,1-3.06.38Zm14.76-10h-4.63V4.86h4.63V10Zm0,9.57h-4.63V14.43h4.63v5.15Z')
          path(fill='#43525a' d='M63.55,20q-4.17,0-6.39-2a7.23,7.23,0,0,1-2.22-5.67A7.94,7.94,0,0,1,57,6.55,7.67,7.67,0,0,1,62.8,4.4a6.66,6.66,0,0,1,5.09,1.82,7.36,7.36,0,0,1,1.7,5.22V13.1H59.54A4,4,0,0,0,60,14.8a3,3,0,0,0,1,1.1,3.76,3.76,0,0,0,1.37.58,7.76,7.76,0,0,0,1.72.18A7.62,7.62,0,0,0,67,16a9.15,9.15,0,0,0,1-.54,9.28,9.28,0,0,0,.79-.51h.48v3.79l-1,.41a9,9,0,0,1-1.28.38,11,11,0,0,1-1.54.31,13.32,13.32,0,0,1-1.93.11Zm1.52-9.64a3.6,3.6,0,0,0-.67-2.22,2.41,2.41,0,0,0-2-.76,2.73,2.73,0,0,0-2.09.8,3.36,3.36,0,0,0-.84,2.18Z')
          path(fill='#ed1c24' d='M9.74,0h-2V4.09H19.48V0H9.74Zm0,7.69h-2v4.09H19.48V7.69H9.74Z')
          polygon(fill='#ed1c24' points='4.09 2.05 4.09 0 0 0 0 2.05 0 17.43 0 19.47 2.05 19.47 17.43 19.47 19.47 19.47 19.47 15.38 17.43 15.38 4.09 15.38 4.09 2.05')
      nav
        a(href="/") Консультації
        a(href="/") Офіційні документи
        a(href="/") Зразки
        a(href="/") Довідники
        a(href="/") Журнали та книги
        a(href="/") Відео
        a(href="/").active Сервіси
